---
# Homepage Settings
# https://gethomepage.dev/configs/settings/

title: Homelab Dashboard
favicon: https://cdn-icons-png.flaticon.com/512/888/888879.png
theme: dark
color: slate

layout:
  "Core & Infraestructura":
    style: row
    columns: 4
  "Automatización & Productividad":
    style: row
    columns: 4
  "Media & Streaming":
    style: row
    columns: 4
  "Almacenamiento & Archivos":
    style: row
    columns: 2
  "Juegos & Entretenimiento":
    style: row
    columns: 2
