---
# Homepage Header Widgets
# https://gethomepage.dev/configs/widgets/

- resources:
    label: Sistema
    cpu: true
    memory: true
    disk: /

- search:
    provider: google
    target: _blank

- datetime:
    text_size: l
    format:
      timeStyle: short
      dateStyle: short
      hourCycle: h23
