{
    auto_https off
}

http://plex.{{ base_domain }} {
    reverse_proxy {{ plex_server }}
}

http://odoo.{{ base_domain }} {
    reverse_proxy odoo_app:8069 {
        header_up X-Forwarded-Proto https
    }
}

http://overseerr.{{ base_domain }} {
    reverse_proxy seerr:5055
}